.callout {
  flex-grow: 1;
  padding: 0.75rem 2rem;
  border-radius: var(--border-radius);
  font-size: var(--size-normal);
  align-content: center;
  visibility: hidden;
}

.callout.active {
  visibility: visible;
  background-color: var(--danger-light);
  color: var(--danger-dark);
}
